<%- include('../partials/head') %>

    <h1>Edit <%= foundListing.title %></h1>
    <form action="/listings/<%= foundListing._id %>?_method=PUT" method="POST">
        <label for="title">Title:</label>
        <input type="text" name="title" id="title" value="<%= foundListing.title %>" />

        <label for="description">Description:</label>
        <textarea name="description" id="description"><%= foundListing.description %></textarea>

        <label for="price">Price:</label>
        <input type="number" name="price" id="price" value="<%= foundListing.price %>"/>

        <label for="image">Image URL:</label>
        <input type="text" name="image" id="image" value="<%= foundListing.image %>" />

        <button type="submit">Edit <%= foundListing.title %></button>
    </form>
</body>
</html>